$mobile-smallfont: 15px;
$mobile-largefont: 30px;

$desktop-smallfont: 15px;
$desktop-largefont: 30px;

$desktop2-smallfont: 20px;
$desktop2-largefont: 40px;

$desktop3-smallfont: 35px;
$desktop3-largefont: 70px;
