/* Small phones */
$screensize1: 400px

/* Large phones */
$screensize2min: 401px
$screensize2: 768px

$screensize3min: 769px
$screensize3: 1068px

$screensize4min: 1069px
$screensize4: 1366px

$screensize5min: 1367px
$screensize5: 1680px

/* Max 1080 pixel width */
$screensize6min: 1681px
$screensize6: 1920px

$screensize7min: 1921px
$screensize7: 2560px

/* Max 3840 pixel width */
$screensize8min: 2561px
$screensize8: 3840px
