$fontcolor1: #FFFFFF
$fontcolor2: #202020
$fontcolor3: #A00000
$fontcolor4: #FFFEFB
$fontcolor5: #400000

$backgroundcolor1: #FFFFFF
$backgroundcolor2: #400000
$backgroundcolor3: #800000
$backgroundcolor4: #FAF9F6
$backgroundcolor5: #F1EFE8
