$screensize1-fontsize2: 13px
$screensize1-fontsize1: $screensize1-fontsize2*0.8
$screensize1-fontsize3: $screensize1-fontsize2*2

$screensize2-fontsize2: 15px
$screensize2-fontsize1: $screensize2-fontsize2*0.8
$screensize2-fontsize3: $screensize2-fontsize2*2

$screensize3-fontsize2: 15px
$screensize3-fontsize1: $screensize3-fontsize2*0.8
$screensize3-fontsize3: $screensize3-fontsize2*2

$screensize4-fontsize2: 16px
$screensize4-fontsize1: $screensize4-fontsize2*0.8
$screensize4-fontsize3: $screensize4-fontsize2*2

$screensize5-fontsize2: 16px
$screensize5-fontsize1: $screensize5-fontsize2*0.8
$screensize5-fontsize3: $screensize5-fontsize2*2

$screensize6-fontsize2: 17px
$screensize6-fontsize1: $screensize6-fontsize2*0.8
$screensize6-fontsize3: $screensize6-fontsize2*2

$screensize7-fontsize2: 27px
$screensize7-fontsize1: $screensize7-fontsize2*0.8
$screensize7-fontsize3: $screensize7-fontsize2*2

$screensize8-fontsize2: $screensize6-fontsize2*2
$screensize8-fontsize1: $screensize6-fontsize1*2
$screensize8-fontsize3: $screensize6-fontsize3*2
