$ss1-fontsize2: 13px
$ss1-fontsize1: $ss1-fontsize2*0.8
$ss1-fontsize3: $ss1-fontsize2*2

$ss2-fontsize2: 15px
$ss2-fontsize1: $ss2-fontsize2*0.8
$ss2-fontsize3: $ss2-fontsize2*2

$ss3-fontsize2: 15px
$ss3-fontsize1: $ss3-fontsize2*0.8
$ss3-fontsize3: $ss3-fontsize2*2

$ss4-fontsize2: 16px
$ss4-fontsize1: $ss4-fontsize2*0.8
$ss4-fontsize3: $ss4-fontsize2*2

$ss5-fontsize2: 16px
$ss5-fontsize1: $ss5-fontsize2*0.8
$ss5-fontsize3: $ss5-fontsize2*2

$ss6-fontsize2: 17px
$ss6-fontsize1: $ss6-fontsize2*0.8
$ss6-fontsize3: $ss6-fontsize2*2

$ss7-fontsize2: 27px
$ss7-fontsize1: $ss7-fontsize2*0.8
$ss7-fontsize3: $ss7-fontsize2*2

$ss8-fontsize2: $ss6-fontsize2*2
$ss8-fontsize1: $ss6-fontsize1*2
$ss8-fontsize3: $ss6-fontsize3*2
