@import '../../Components/Fonts'
@import '../../Components/Colors'
@import '../../Components/Constants'
@import '../../Components/Breakpoints'

.footer
  text-align: center
  background: $bc5
  
@media screen and (min-width: $ss8min)
  .footer
    padding: $p8*4 0
@media screen and (max-width: $ss7)
  .footer
    padding: $p7*4 0
@media screen and (max-width: $ss6)
  .footer
    padding: $p6*4 0
@media screen and (max-width: $ss5)
  .footer
    padding: $p5*4 0
@media screen and (max-width: $ss4)
  .footer
    padding: $p4*4 0
@media screen and (max-width: $ss3)
  .footer
    padding: $p3*4 0
@media screen and (max-width: $ss2)
  .footer
    padding: $p2*4 0
@media screen and (max-width: $ss1)
  .footer
    padding: $p1*4 0
